/*index.css*/

* {
    padding: 0px;
    left: 0px;
}

body {
    background: #f3f3f3;
}

#wripper {
    background: #fff;
    margin: 30px;
    padding-bottom: 50px;
    overflow: hidden;
    border: 1px solid #dfdfdf;
}

.titleInfo {
    padding: 30px;
    border-bottom: 1px solid #dfdfdf;
}

.formContent {
    padding-top: 30px;
    overflow: hidden;
}

.control-label {
    color: #666;
}

.clear:after {

    content: "";
    display: block;
    clear: both;
    height: 0;
}

.buttonSubmit {
    display: block;
    margin-top: 20px;
    clear: both;
    width: 140px;

    color: #fff;
    text-align: center;
    border-radius: 0px;
    height: 40px;
    border: none;
}

.form-control {
    border-radius: 0px;
}





/*query查询人员样式*/

.searchSubmit {
    display: block;
    width: 140px;

    color: #fff;
    text-align: center;
    border-radius: 0px;
    height: 35px;
    border: none;
    margin-left: -30px;
}

.ml0 {
    margin-left: 0px!important;
}

.pd0 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.pdlf30 {
    padding-left: 30px;
}

.labelSpecial {
    float: left;
    text-align: left;
}

.queryTable {
    margin: 30px;
    width: 90%;
}

.queryTable>thead>tr>th {
    background: #ebeff2;
    height: 40px;
    color: #5d6570;
}

.queryTable thead th {
    text-align: center;
}

.queryTable>tbody>tr>td {
    color: #666;
    padding: 10px 20px;
}

.selectCheck {
    text-align: center;
}

.selectCheck a {
    color: #666;
}

.selectCheck a:hover {
    color: #468cd4;
    text-decoration: none;
}

.buttonIn {
    margin-left: 40px;
}

.mt20 {
    margin-top: 20px;
}

.personInfo {
    color: #666;
}

.mt40 {
    margin-top: 40px;
    margin-left: 15px;
}



/**考勤日历样式**/

.dateBox {
    margin-top: 40px;
    overflow: hidden;
    width: 91%;
    margin-left: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.red {
    background: #f6b8ad!important;
}

.dateWeek li {
    width: 13%;
    height: 80px;
    float: left;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    line-height: 80px;
    background: #cccccc;
    color: #fff;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.dateNumber li {
    position: relative;
    width: 13%;
    height: 80px;
    float: left;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    background: #fff;
    color: #333;
}

.dateNumber li:nth-child(7n+1) {
    border-left: 1px solid #e7e7e7;
}

.dateNumber li:nth-child(7n+1) {
    border-left: 1px solid #e7e7e7;
    color: #f5846f!important;
}

.dateNumber li:nth-child(7n+7) {
    color: #f5846f!important;
}

.redtxt {
    color: #f5846f!important;
}

.active {
    background: #aadfe7!important;
}

li.in:after {
    position: absolute;
    right: 0px;
    top: 0px;
    content: "签";

    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f29e8f;
    color: #fff;
    line-height: 20px;
}

.selectMonth {
    width: 80px;
    border: 1px solid #ddd;
    text-align: center;
    color: #666;
    height: 30px;
    line-height: 30px;
}

.monthLeft img {
    height: 18px;
}

.monthRight {
    text-align: right;
}

.monthRight img {
    height: 18px;
    transform: rotate(180deg);
}

.monthSelect {
    text-align: center;
}

.monthLeft,
.monthRight {
    cursor: pointer;
}



/*分页样式*/

.pageBox {
    margin-top: 30px;
    float: right;
    width: 100%;
    text-align: right;
    margin-right: 8%;
}

.pageBox a {
    padding: 8px 15px;
    border: 1px solid #dddddd;
    color: #777777;
}

.pageBox a:hover {
    background: #337ab7;
    color: #fff;
    text-decoration: none;
}

.pageBox a.actived {
    background: #337ab7;
    color: #fff;
}


/*添加家庭关系*/

.addFamilyContent {
    border: 1px dotted #e3e3e3;
    margin-left: 30px;
    width: 90%;
    overflow: hidden;
   
   
}


.addFamily {

    text-align: center;
    color: #f36a5a;
    cursor: pointer;
    line-height: 40px;
    
}

.addFamilyBox {
    padding: 30px 0;
    overflow: hidden;
   
}


/*添加工作经历*/

.familyContent {
    /* margin-top: 30px; */
    overflow: hidden;
}

.addFamily {
    color: #f36a5a;
}

.workTime {
    color: #f36a5a;
}
.companyName{
    color:#f36a5a;
    font-size:16px;
    font-weight: bold;
}
.companyInfo{
    height:50px;
    line-height: 50px;
    font-size:14px;
    color:#333;
}
.workContent{
    color:#666;
    line-height: 24px;
    font-size:12px;
}
.workExperence{
    margin-top:30px;
    overflow: hidden;
}
.workBox{
    margin-bottom:30px;
    overflow: hidden;
}
/*出错信息*/
.errorBg{
    width:100%;height:100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0px;
    left:0px;
    display:none;
}
.errorBox{
    background:#fff;
    position:fixed;
    min-width:300px;
    left:45%;
    top:50%;
    transform:translate(-50%,-50%);
     padding: 10px 30px;
}
.errorBox .title{
    font-size:18px;
    color:#F36A5A;
    
    text-align:center;
    border-bottom:1px solid #ddd;
    line-height:30px;
    padding-bottom:10px;

}
.errorBox .info{
    font-size:14px;
    color:#666;
    line-height: 24px;
    margin:20px 0;
    text-align:center;
   
}
.errorBox .button{
    width:100px;
    line-height:35px;
    text-align: center;
    margin:0 auto 10px auto;

}
.errorBg2{
    display: none;
    width:100%;height:100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0px;
    left:0px;
    
}
.errorBox2{
    
    background:#fff;
    position:fixed;
    min-width:300px;
    left:45%;
    top:50%;
    transform:translate(-50%,-50%);
     padding-top: 10px;
}
.errorBox2 .title{
    font-size:18px;
    color:#F36A5A;
    
    text-align:center;
    border-bottom:1px solid #ddd;
    line-height:30px;
    padding-bottom:10px;

}
.errorBox2 .info{
    font-size:14px;
    color:#666;
    line-height: 24px;
    margin:20px 0;
    text-align:center;
   
}
.errorBox2 .button{
    width:100px;
    line-height:35px;
    text-align: center;
    margin-left:20px;
    float:left;

}
.errorSmallBox{
    display:flex;
    margin:40px;
    justify-content: space-between;
}